<template lang="html">
    <div class="main-page">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner message="Loading"></Spinner>
            </div>
        </div>
        <h4>Предложенные фильмы</h4>
        <div class="film-list" v-for="item in filfilmsAcceptedms" @click="showFilm(item)">
            <div class="film-list-item film-list-item-item">
                <div class="film-list-item-first-block">
                    <img src="/img/no-image.jpg" />
                </div>
                <div class="film-list-item-second-block">
                    <p class="film-list-p-first-line">{{item.name}}</p>
                    <p class="film-list-p-second-line">Жанр: {{item.categories}}</p>
                    <p>Режиссер: {{item.nameStageManager}}</p>
                    <p>Год: {{item.productionYear}}</p>
                </div>
                <div class="film-list-item-third-block">
                    <button class="btn btn-outline-secondary" @click="showFilm(item)">Подробнее</button>
                </div>
            </div>
        </div>
        <p v-if="filmsAccepted.length === 0">Предлженных фильмов нет</p>
    </div>
</template>

<script>
    import axios from 'axios';
    import Spinner from 'vue-simple-spinner';


    export default {
        props: [],
        data() {
            return {
                filmsAccepted: [],
                showSpinner: false,
                urlGetFilmsSuggestions: 'api/films/suggestions'
            }
        },
        created() {
            this.getFilmsSuggestions();
        },
        components: {
            Spinner
        },
        computed: {
            accessType() {
                return this.$root.accessType;
            },
            username() {
                return this.$root.username;
            }
        },
        methods: {
            showFilm(film) {
                this.$router.push({ name: 'filmPage', params: { film: film, isAcceptProcess: true } });
            },
            getFilmsSuggestions() {
                this.showSpinner = true;
                axios.get(this.urlGetFilmsSuggestions)
                    .then(response => {
                        this.filmsAccepted = response.data;
                        this.showSpinner = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    };
</script>

<style>

</style>
