<template lang="html">
    <div class="main-page input-info">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner message="Adding"></Spinner>
            </div>
        </div>
        <h4 style="margin-top: 2rem;">Добавление фильма</h4>
        <p v-if="buttonPushed && filmName===''" class="error-message">Введите название</p>
        <p>Название</p>
        <input type="text"
               v-model="filmName"
               placeholder="Название"
               class="form-control" />
        <p v-if="buttonPushed && filmYear===''" class="error-message">Введите год</p>
        <p v-if="filmYear !== '' && (filmYear < 1930 || filmYear > (new Date()).getFullYear())" class="error-message">Год должен быть в пределах от 1930 по {{(new Date()).getFullYear()}}</p>
        <p>Год</p>
        <input type="number"
               v-model="filmYear"
               placeholder="Год"
               class="form-control" />
        <p v-if="buttonPushed && categories.length < 1" class="error-message">Введите жарн</p>
        <p>Жанр</p>
        <Multi-select v-model="categories"
                      :options="options"
                      :btnLabel="labelCategory"
                      :selectOptions="optionsCategory"
                      class="info-input-el">
        </Multi-select>
        <p v-if="buttonPushed && countries.length < 1" class="error-message">Введите страну</p>
        <p>Страна</p>
        <Multi-select v-model="countries"
                      :options="options"
                      :btnLabel="labelCountry"
                      :selectOptions="optionsCountry"
                      class="info-input-el">
        </Multi-select>
        <p v-if="buttonPushed && (stageManager.lastName==='' || stageManager.firstName==='')" class="error-message">Введите имя и фамилию</p>
        <p>Режиссер</p>
        <div class="input-inline info-input-el">
            <input type="text"
                   v-model="stageManager.lastName"
                   placeholder="Фамилия"
                   class="form-control" />
            <input type="text"
                   v-model="stageManager.firstName"
                   placeholder="Имя"
                   class="form-control" />
            <input type="text"
                   v-model="stageManager.fatherName"
                   placeholder="Отчество"
                   class="form-control" />
        </div>
        <p v-if="buttonPushed && (producer.lastName==='' || producer.firstName==='')" class="error-message">Введите имя и фамилию</p>
        <p>Продюсер</p>
        <div class="input-inline info-input-el">
            <input type="text"
                   v-model="producer.lastName"
                   placeholder="Фамилия"
                   class="form-control" />
            <input type="text"
                   v-model="producer.firstName"
                   placeholder="Имя"
                   class="form-control" />
            <input type="text"
                   v-model="producer.fatherName"
                   placeholder="Отчество"
                   class="form-control" />
        </div>
        <p v-if="buttonPushed && (scriptWriter.lastName==='' || scriptWriter.firstName==='')" class="error-message">Введите имя и фамилию</p>
        <p>Сценарист</p>
        <div class="input-inline info-input-el">
            <input type="text"
                   v-model="scriptWriter.lastName"
                   placeholder="Фамилия"
                   class="form-control" />
            <input type="text"
                   v-model="scriptWriter.firstName"
                   placeholder="Имя"
                   class="form-control" />
            <input type="text"
                   v-model="scriptWriter.fatherName"
                   placeholder="Отчество"
                   class="form-control" />
        </div>
        <p v-if="buttonPushed && (cameraMan.lastName==='' || cameraMan.firstName==='')" class="error-message">Введите имя и фамилию</p>
        <p>Оператор</p>
        <div class="input-inline info-input-el">
            <input type="text"
                   v-model="cameraMan.lastName"
                   placeholder="Фамилия"
                   class="form-control" />
            <input type="text"
                   v-model="cameraMan.firstName"
                   placeholder="Имя"
                   class="form-control" />
            <input type="text"
                   v-model="cameraMan.fatherName"
                   placeholder="Отчество"
                   class="form-control" />
        </div>
        <p v-if="buttonPushed && (editor.lastName==='' || editor.firstName==='')" class="error-message">Введите имя и фамилию</p>
        <p>Монтаж</p>
        <div class="input-inline info-input-el">
            <input type="text"
                   v-model="editor.lastName"
                   placeholder="Фамилия"
                   class="form-control" />
            <input type="text"
                   v-model="editor.firstName"
                   placeholder="Имя"
                   class="form-control" />
            <input type="text"
                   v-model="editor.fatherName"
                   placeholder="Отчество"
                   class="form-control" />
        </div>
        <p v-if="buttonPushed && (musicBy.lastName==='' || musicBy.firstName==='')" class="error-message">Введите имя и фамилию</p>
        <p>Композитор</p>
        <div class="input-inline info-input-el">
            <input type="text"
                   v-model="musicBy.lastName"
                   placeholder="Фамилия"
                   class="form-control" />
            <input type="text"
                   v-model="musicBy.firstName"
                   placeholder="Имя"
                   class="form-control" />
            <input type="text"
                   v-model="musicBy.fatherName"
                   placeholder="Отчество"
                   class="form-control" />
        </div>
        <p>Актеры</p>
        <template v-for="(actor, index) in actors">
            <p v-if="buttonPushed && (actor.lastName==='' || actor.firstName==='')" class="error-message">Введите имя и фамилию</p>
            <div class="input-inline info-input-el">
                <input type="text"
                       v-model="actor.lastName"
                       placeholder="Фамилия"
                       class="form-control" />
                <input type="text"
                       v-model="actor.firstName"
                       placeholder="Имя"
                       class="form-control" />
                <input type="text"
                       v-model="actor.fatherName"
                       placeholder="Отчество"
                       class="form-control" />
                <button v-if="((index === (actors.length-1)) && (index !== 0))"
                        class="btn btn-outline-secondary"
                        @click="removeActor">
                    Удалить актера
                </button>
            </div>
        </template>
        <button class="btn btn-outline-secondary info-input-el"
                @click="addActor">
            Добавить актера
        </button>
        <p v-if="buttonPushed && agePermition===''" class="error-message">Введите возрастное ограничение</p>
        <p>Возрастные ограничения</p>
        <v-select v-model="agePermition"
                  :options="optionsAgePermition"
                  placeholder="Возрастное ограничение"
                  class="info-input-el">
            <div slot="no-options">Значение не допустимо</div>
        </v-select>
        <p v-if="buttonPushed && duration===''" class="error-message">Введите длительность</p>
        <p v-if="buttonPushed && duration<=0" class="error-message">Длительность должна быть больше нуля</p>
        <p v-if="buttonPushed && duration>1000000" class="error-message">Длительность должна быть меньше 1000000</p>
        <p>Длительность (в минутах)</p>
        <input type="number"
               v-model="duration"
               placeholder="Длительность"
               class="form-control" />
        <!--<p v-if="buttonPushed && description===''">Введите описание</p>
    <p>Описание сюжета</p>
    <input type="text"
           v-model="description"
           placeholder="Описание сюжета"
           class="form-control" />-->
        <p v-if="buttonPushed && videoFile===''" class="error-message">Выберите файл</p>
        <p v-if="!checkVideo" class="error-message">Неверный формат файла. Должен быть .mp4</p>
        <p>Загрузить фильм</p>
        <input type="file"
               id="video-file"
               v-on:change="onFileChangeVideo"
               placeholder="Выберите фильм"
               class="form-control" />
        <p v-if="buttonPushed && photoFile===''" class="error-message">Выберите файл</p>
        <p v-if="!checkPhoto" class="error-message">Неверный формат файла. Должен быть .png/.jpg/.jpeg/.svg</p>
        <p>Загрузить фото к фильму</p>
        <input type="file"
               id="photo-file"
               v-on:change="onFileChangePhoto"
               placeholder="Выберите фото"
               class="form-control" />

        <button class="btn btn-outline-secondary info-input-el"
                @click="addFilm">
            Добавить фильм
        </button>
    </div>
</template>

<script>
    import axios from 'axios';
    import MultiSelect from 'vue-multi-select';
    import vSelect from 'vue-select';
    import JsonFormData from 'json-form-data';
    import Spinner from 'vue-simple-spinner';


    export default {
        props: [],
        data() {
            return {
                buttonPushed: false,
                filmName: '',
                filmYear: '',
                categories: [],
                countries: [],
                duration: '',
                stageManager: {
                    firstName: '',
                    lastName: '',
                    fatherName: ''
                },
                producer: {
                    firstName: '',
                    lastName: '',
                    fatherName: ''
                },
                scriptWriter: {
                    firstName: '',
                    lastName: '',
                    fatherName: ''
                },
                cameraMan: {
                    firstName: '',
                    lastName: '',
                    fatherName: ''
                },
                musicBy: {
                    firstName: '',
                    lastName: '',
                    fatherName: ''
                },
                editor: {
                    firstName: '',
                    lastName: '',
                    fatherName: ''
                },
                actors: [],
                actorsCount: 1,
                agePermition: '',
                description: '',
                videoFile: '',
                photoFile: '',
                labelCategory: "Выберите жанр",
                labelCountry: "Выберите страну",
                optionsAgePermition: ['0+', '6+', '12+', '16+', '18+', '21+'],
                optionsAgePermitionInt: [0, 6, 12, 16, 18, 21],
                optionsCategory: [],
                optionsCountry: [],
                options: {
                    multi: true,
                    cssSelected: option => (option.selected ? { 'background-color': '#f2f2f2' } : ''),
                },
                categoryDictionary: [],
                countryDictionary: [],
                urlGetInfo: 'api/films/getSearchInfo',
                urlAddFilm: 'api/films/addFilm',
                showSpinner: false,
                isWrongExtension: false,
                isWrongPhotoExtension: false
            }
        },
        components: {
            vSelect,
            MultiSelect,
            Spinner
        },
        created() {
            this.getInfo();
        },
        computed: {
            actorsCntList() {
                var list = [];
                for (var i = 0; i < this.actorsCount; i++) {
                    list.push(i + 1);
                }
                return list;
            },
            checkVideo() {
                if (this.videoFile == '') {
                    return true;
                }
                var extension = this.videoFile.name.substring(this.videoFile.name.length - 4);
                if (extension.toLowerCase() != ".mp4") {
                    this.isWrongExtension = true;
                    return false;
                }
                this.isWrongExtension = false;
                return true;
            },
            checkPhoto() {
                if (this.photoFile == '') {
                    return true;
                }
                var extension2 = this.photoFile.name.substring(this.photoFile.name.length - 4);
                if ((extension2.toLowerCase() != ".jpg") && (extension2.toLowerCase() != ".png") && (extension2.toLowerCase() != ".svg")) {
                    extension2 = this.photoFile.name.substring(this.photoFile.name.length - 5);
                    if (extension2.toLowerCase() != ".jpeg") {
                        this.isWrongPhotoExtension = true;
                        return false;
                    }
                }
                return true;
            }
        },
        methods: {
            onFileChangeVideo(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                var link = document.querySelector('#video-file');
                this.videoFile = link.files[0];
            },
            onFileChangePhoto(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                var link = document.querySelector('#photo-file');
                this.photoFile = link.files[0];
            },
            setInfo() {
                let categories = [];
                for (const [key, value] of Object.entries(this.categoryDictionary)) {
                    categories.push(value);
                }
                this.optionsCategory = categories;

                let countries = [];
                for (const [key, value] of Object.entries(this.countryDictionary)) {
                    countries.push(value);
                }
                this.optionsCountry = countries;
                this.actors = [];
                this.actors.push({ firstName: '', lastName: '', fatherName: '' });
                this.actorsCount = 1;
            },
            getInfo() {
                axios.get(this.urlGetInfo)
                    .then(response => {
                        this.categoryDictionary = response.data.categories;
                        this.countryDictionary = response.data.countries;
                        this.setInfo();
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            addFilm() {
                this.isWrongExtension = false;
                this.buttonPushed = true;
                this.isWrongPhotoExtension = false;
                if (this.filmName == '') {
                    return;
                }
                if (this.filmYear == '') {
                    return;
                }
                if (this.filmYear < 1930 || this.filmYear > (new Date()).getFullYear()) {
                    return;
                }
                if (this.categories.length < 1) {
                    return;
                }
                if (this.countries.length < 1) {
                    return;
                }
                if (this.stageManager.firstName == '') {
                    return;
                }
                if (this.stageManager.lastName == '') {
                    return;
                }
                if (this.producer.firstName == '') {
                    return;
                }
                if (this.producer.lastName == '') {
                    return;
                }
                if (this.scriptWriter.firstName == '') {
                    return;
                }
                if (this.scriptWriter.lastName == '') {
                    return;
                }
                if (this.cameraMan.firstName == '') {
                    return;
                }
                if (this.cameraMan.lastName == '') {
                    return;
                }
                if (this.editor.firstName == '') {
                    return;
                }
                if (this.editor.lastName == '') {
                    return;
                }
                if (this.musicBy.firstName == '') {
                    return;
                }
                if (this.musicBy.lastName == '') {
                    return;
                }
                this.actors.forEach(actor => {
                    if (actor.firstName == '') {
                        return;
                    }
                    if (actor.lastName == '') {
                        return;
                    }
                });
                if (this.agePermition == '') {
                    return;
                }
                //if (this.description == '') {
                //    return;
                //}
                if (this.videoFile == '') {
                    return;
                }
                //if not mp4
                if (!this.checkVideo) {
                    return;
                }
                if (this.photoFile == '') {
                    return;
                }
                if (!this.checkPhoto) {
                    return;
                }
                
                if (this.duration == '') {
                    return;
                }
                if (this.duration <= 0 || this.duration > 1000000) {
                    return;
                }

                this.showSpinner = true;

                var countries = [];
                this.countries.forEach((item) => {
                    for (const [key, value] of Object.entries(this.countryDictionary)) {
                        if (item == value) {
                            countries.push(key);
                        }
                    }
                });

                var categories = [];
                this.categories.forEach((item) => {
                    for (const [key, value] of Object.entries(this.categoryDictionary)) {
                        if (item == value) {
                            categories.push(key);
                        }
                    }
                });

                var agePermition = 0;
                for (var index = 0; index < this.optionsAgePermition.length; index++) {
                    if (this.agePermition == this.optionsAgePermition[index]) {
                        agePermition = this.optionsAgePermitionInt[index];
                    }
                }

                var formDataVideo = new FormData();
                formDataVideo.append("file", this.videoFile);

                var filmModel = {
                    username: this.$root.username,
                    name: this.filmName,
                    productionYear: this.filmYear,
                    minuteDuration: this.duration,
                    agePermition: agePermition,
                    description: this.description,
                    nameStageManagerArray: this.stageManager,
                    nameScriptWriterArray: this.scriptWriter,
                    nameProducerArray: this.producer,
                    nameCameraManArray: this.cameraMan,
                    nameMusicByArray: this.musicBy,
                    nameEditedByArray: this.editor,
                    categoriesArray: categories,
                    actorsArray: this.actors,
                    countriesArray: countries,
                    videoFileForm: this.videoFile,
                    photoFileForm: this.photoFile
                };

                var filmModel = JsonFormData(filmModel);

                axios.post(this.urlAddFilm, filmModel)
                    .then(response => {
                        this.showSpinner = false;
                        if (response.data.statusCode == 200) {
                            this.handleShowMsg(`Фильм ${this.filmName} успешно добавлен`, 'success');
                            this.$router.push({ name: 'filmsUser' });
                        }
                        else {
                            this.handleShowMsg(`Фильм ${this.filmName} не был добавлен, так как возникла ошибка на сервере`, 'error');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            addActor() {
                this.actorsCount = this.actorsCount + 1;
                this.actors.push({ firstName: '', lastName: '', fatherName: '' });
            },
            removeActor() {
                this.actorsCount = this.actorsCount - 1;
                this.actors.splice(-1, 1);
            },
            handleShowMsg(message, status) {
                this.$message({
                    message: message,
                    type: status,
                    showClose: true,
                    duration: 6000
                })
            },
        }
    };
</script>

<style>
    .input-inline{
        display: flex;
        flex-direction: row;
    }
    .dropdown ::after{
        display:none;
    }
</style>
