<template lang="html">
    <div class="main-page">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner v-if="isPublishing" message="Publishing"></Spinner>
                <Spinner v-else message="Deleting"></Spinner>
            </div>
        </div>

        <div class="main-page-film">
            <h3>{{film.name}}</h3>
            <div class="film-list-item">
                <div class="film-list-item-first-block">
                    <img :src="filmImage" />
                </div>
                <div class="film-list-item-second-block">
                    <p>
                        Страна:
                        <template v-for="country in film.countries">
                            {{country}}
                        </template>
                    </p>
                    <p>Жанр: {{film.categories}}</p>
                    <p>Год: {{film.productionYear}}</p>
                    <p>Режиссер: {{film.nameStageManager}}</p>
                    <p>Сценарист: {{film.nameScriptWriter}}</p>
                    <p>Продюссер: {{film.nameProducer}}</p>
                    <p>Оператор: {{film.nameCameraMan}}</p>
                    <p>Музыка: {{film.nameMusicBy}}</p>
                    <p>Монтаж: {{film.nameEditedBy}}</p>
                    <p>Длительность в минутах: {{film.minuteDuration}}</p>
                    <p>Возрастное ограничение: {{film.agePermition}}+</p>
                    <p v-if="accessType !== 0">Ссылка на автора: {{film.authorLink}}</p>
                </div>
                <div class="film-list-item-second-block">
                    <p>В ролях:</p>
                    <template v-for="actor in film.actors">
                        <p>{{actor}}</p>
                    </template>
                </div>
                <div v-if="accessType === 2" class="film-list-item-third-block">
                    <div v-if="isAcceptProcess">
                        <button class="btn btn-outline-secondary" v-on:click="publishFilm">Опубликовать</button>
                        <button class="btn btn-outline-secondary" v-on:click="denyFilm">Отклонить заявку</button>
                    </div>
                    <div v-else>
                        <button class="btn btn-outline-secondary" v-on:click="deleteFilm">Удалить фильм</button>
                    </div>
                </div>
            </div>
            <!--<div class="film-list-item">
                <div class="film-list-item-first-block">
                    <h5>Описание</h5>
                    <p>Тут будет описание</p>
                </div>
            </div>-->
            <div class="film-list-item">
                <div class="film-list-item-first-block-film">
                    <h5 v-if="accessType !== 0">Оценить фильм</h5>
                    <div class="rate-stars" v-if="accessType !== 0">
                        <div v-if="rateCurrentUser===-1">
                            <img src="/img/star.jpg" v-on:click="setRate1" />
                            <img src="/img/star.jpg" v-on:click="setRate2" />
                            <img src="/img/star.jpg" v-on:click="setRate3" />
                            <img src="/img/star.jpg" v-on:click="setRate4" />
                            <img src="/img/star.jpg" v-on:click="setRate5" />
                            <img src="/img/star.jpg" v-on:click="setRate6" />
                            <img src="/img/star.jpg" v-on:click="setRate7" />
                            <img src="/img/star.jpg" v-on:click="setRate8" />
                            <img src="/img/star.jpg" v-on:click="setRate9" />
                            <img src="/img/star.jpg" v-on:click="setRate10" />
                        </div>
                        <div v-else>
                            <img v-if="rateCurrentUser < 1" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 1" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 2" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 2" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 3" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 3" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 4" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 4" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 5" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 5" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 6" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 6" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 7" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 7" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 8" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 8" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 9" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 9" src="/img/star_colored.jpg" />
                            <img v-if="rateCurrentUser < 10" src="/img/star.jpg" />
                            <img v-if="rateCurrentUser >= 10" src="/img/star_colored.jpg" />
                        </div>
                    </div>
                    <h6 style="margin: 2rem 0;">Общий рейтинг: {{filmRate}}/10</h6>
                </div>
            </div>
            <div class="film-list-item">
                <div class="film-list-item-first-block-film">
                    <div class="container" v-if="videoIsUploaded">
                        <vueVideoPlayer :sources="video.sources" :options="video.options"></vueVideoPlayer>
                    </div>
                    <div v-else>
                        <div class="spinner-block spinner-block-film">
                            <Spinner message="Loading video"></Spinner>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="film-list-item">
            <div class="film-list-item-first-block">
                <h5>Комментарии</h5>
                <template v-for="comment in film.comments">
                    <div>
                        <p>{{comment.username}}</p>
                        <p>{{comment.date}}</p>
                        <p>{{comment.comment}}</p>
                    </div>
                </template>
            </div>
        </div>-->
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { Bus } from '../Bus.js';
    import vueVideoPlayer from 'vue-video';
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['film', 'isAcceptProcess'],
        data() {
            return {
                rateCurrentUser: -1,
                urlPublishFilm: 'api/films/publishFilm',
                urlDenyFilm: 'api/films/deny',
                urlGetUserFilmRate: 'api/films/userFilmRateGet',
                urlPostUserFilmRate: 'api/films/userFilmRatePost',
                video: [],
                filmRate: 0,
                urlDeleteFilm: 'api/films/deleteFilm',
                urlDenyFilm: 'api/films/denyFilm',
                showSpinner: false,
                isPublishing: false,
                urlGetFilmVideoBlob: 'api/films/filmBlobVideo',
                videoIsUploaded: false
            }
        },
        created() {
            this.getUserFilmRate();
            this.setFilmRate();
            this.getVideoFile();
        },
        components: {
            vueVideoPlayer,
            Spinner
        },
        computed: {
            accessType() {
                return this.$root.accessType;
            },
            filmImage() {
                if (this.film.photoFile == null) {
                    return '/img/no-image.jpg';
                }
                else {
                    return this.film.photoFile;
                }
            }
        },
        methods: {
            publishFilm() {
                this.isPublishing = true;
                this.showSpinner = true;
                var filmModel = {
                    filmId: this.film.filmId
                };
                axios.post(this.urlPublishFilm, filmModel)
                    .then(response => {
                        this.isPublishing = false;
                        this.showSpinner = false;
                        this.$router.push({ name: 'manageFilmPage' });
                    }).catch(error => {
                        console.log(error);
                    })
            },
            denyFilm() {
                this.showSpinner = true;
                var film = this.film;
                var filmModel = {
                    filmId: film.filmId
                };
                axios.post(this.urlDenyFilm, filmModel)
                    .then(response => {
                        if (response.data.statusCode == 200) {
                            this.showSpinner = false;
                            this.handleShowMsg(`Фильм ${film.name} отклонен`, 'success');
                            this.$router.push({ name: 'manageFilmPage' });
                        }
                        else {
                            this.handleShowMsg(`Фильм ${film.name} не был отклонен, так как возникла ошибка на сервере`, 'error');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            deleteFilm() {
                this.showSpinner = true;
                var film = this.film;
                var filmModel = {
                    filmId: film.filmId
                };
                axios.post(this.urlDeleteFilm, filmModel)
                    .then(response => {
                        if (response.data.statusCode == 200) {
                            this.showSpinner = false;
                            this.handleShowMsg(`Фильм ${film.name} удален`, 'success');
                            this.$router.push({ name: 'manageFilmPage' });
                        }
                        else {
                            this.handleShowMsg(`Фильм ${film.name} не был удален, так как возникла ошибка на сервере`, 'error');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            handleShowMsg(message, status) {
                this.$message({
                    message: message,
                    type: status,
                    showClose: true,
                    duration: 6000
                })
            },
            setFilmRate() {
                this.filmRate = this.film.rate;
            },
            getVideoFile() {
                var film = this.film;
                var filmModel = {
                    videoFile: film.videoFile
                };

                axios.post(this.urlGetFilmVideoBlob, filmModel)
                    .then(response => {
                        if (response.data.statusCode == 200) {
                            var path = response.data.value;
                            var pathPhoto = '/img/no-image.jpg';
                            if (this.film.photoFile != null) {
                                pathPhoto = this.film.photoFile;
                            }
                            var video = {
                                sources: [{
                                    src: path,
                                    type: 'video/mp4'
                                }],
                                options: {
                                    autoplay: false,
                                    volume: 0.6,
                                    poster: pathPhoto
                                }
                            }
                            this.video = video;
                            this.videoIsUploaded = true;
                        }
                        else {
                            console.log(response.data);
                        }
                    }).catch(error => {
                        console.log(error);
                    })


            },
            setUserFilmRate() {
                var rateModel = {
                    username: this.$root.username,
                    filmId: this.film.filmId,
                    rate: this.rateCurrentUser
                };

                axios.post(this.urlPostUserFilmRate, rateModel)
                    .then(response => {
                        if (response.data.statusCode == 200) {
                            this.filmRate = response.data.value;
                        }
                    }).catch(error => {
                        console.log(error);
                    })
            },
            getUserFilmRate() {
                if (this.$root.username == '') {
                    return;
                }
                var rateModel = {
                    username: this.$root.username,
                    filmId: this.film.filmId
                };
                axios.post(this.urlGetUserFilmRate, rateModel)
                    .then(response => {
                        if (response.data.statusCode == 200) {
                            this.rateCurrentUser = response.data.value;
                        }
                    }).catch(error => {
                        console.log(error);
                    })
            },
            setRate1() {
                this.rateCurrentUser = 1;
                this.setUserFilmRate();
            },
            setRate2() {
                this.rateCurrentUser = 2;
                this.setUserFilmRate();
            },
            setRate3() {
                this.rateCurrentUser = 3;
                this.setUserFilmRate();
            },
            setRate4() {
                this.rateCurrentUser = 4;
                this.setUserFilmRate();
            },
            setRate5() {
                this.rateCurrentUser = 5;
                this.setUserFilmRate();
            },
            setRate6() {
                this.rateCurrentUser = 6;
                this.setUserFilmRate();
            },
            setRate7() {
                this.rateCurrentUser = 7;
                this.setUserFilmRate();
            },
            setRate8() {
                this.rateCurrentUser = 8;
                this.setUserFilmRate();
            },
            setRate9() {
                this.rateCurrentUser = 9;
                this.setUserFilmRate();
            },
            setRate10() {
                this.rateCurrentUser = 10;
                this.setUserFilmRate();
            }
        }
    };
</script>

<style>
    .main-page-film {
        margin-top: 5rem;
    }

    .rate-stars {
        display: flex;
    }

    .rate-stars img {
        width: 30px;
    }

    .spinner-block-film {
        margin-top: 0 !important;
    }

    .film-list-item-first-block-film{
        width:100%;
    }
</style>
