<template lang="html">
    <div class="main-page">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner message="Loading"></Spinner>
            </div>
        </div>
        <!--<div v-if="main">
            <Slider :options="fluxOptions"
                   :images="fluxImages"
                   :transitions="fluxTransitions"
                   ref="slider">
            </Slider>
        </div>-->
        <div >
            <h3  v-if="showNew" class="block-header">Новинки</h3>
            <FilmsList v-if="showNew"
                       :films="filmsNew"
                       :accessType="accessType">
            </FilmsList>
            <h3  v-if="showTop" class="block-header">Топ</h3>
            <FilmsList v-if="showTop"
                       :films="filmsTop"
                       :accessType="accessType">
            </FilmsList>
            <h3  v-if="showRandom" class="block-header">Случайные</h3>
            <FilmsList v-if="showRandom"
                       :films="filmsRandom"
                       :accessType="accessType">
            </FilmsList>
            <h3 v-if="showUserFilms" class="block-header">Мои фильмы</h3>
            <FilmsList v-if="showUserFilms"
                       :films="filmsUser"
                       :accessType="accessType"
                       :showUserFilms="showUserFilms">
            </FilmsList>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import FilmsList from './FilmsList.vue';
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['showTop', 'showNew', 'showRandom', 'showUserFilms', 'main'],
        data() {
            return {
                urlGetNew: 'api/films/new',
                filmsNew: [],
                urlGetTop: 'api/films/top',
                filmsTop: [],
                urlGetRandom: 'api/films/random',
                filmsRandom: [],
                urlGetUserFilms: 'api/films/userFilms',
                filmsUser: [],
                showSpinner: false,
                urlAddComment: 'api/comment/add',
                urlDeleteComment: 'api/comment/delete',
                urlGetComment: 'api/comment/comments',
                urlGetParentComment: 'api/comment/parent'
            }
        },
        created() {
            if (this.showNew) {
                this.getNew();
            }
            if (this.showTop) {
                this.getTop();
            }
            if (this.showRandom) {
                this.getRandom();
            }
            if (this.showUserFilms) {
                this.getUserFilms();
            }
            this.test();
        },
        components: {
            FilmsList,
            Spinner
        },
        computed: {
            accessType() {
                return this.$root.accessType;
            },
            username() {
                return this.$root.username;
            }
        },
        methods: {
            getNew() {
                this.showSpinner = true;
                axios.get(this.urlGetNew)
                    .then(response => {
                        this.filmsNew = response.data;
                        this.showSpinner = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            getTop() {
                this.showSpinner = true;
                axios.get(this.urlGetTop)
                    .then(response => {
                        this.filmsTop = response.data;
                        this.showSpinner = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            getRandom() {
                this.showSpinner = true;
                axios.get(this.urlGetRandom)
                    .then(response => {
                        this.filmsRandom = response.data;
                        this.showSpinner = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            getUserFilms() {
                this.showSpinner = true;
                var userModel = {
                    username: this.username
                };
                axios.post(this.urlGetUserFilms, userModel)
                .then(response => {
                    this.filmsUser = response.data;
                    this.showSpinner = false;
                })
                .catch(error => {
                    console.log(error);
                });
            },
            removeFilmFromCurrentArrays(film) {
                this.showSpinner = true;

                var index1 = this.filmsNew.indexOf(film);
                if (index1 > -1) {
                    this.filmsNew.splice(index1, 1);
                }

                var index2 = this.filmsTop.indexOf(film);
                if (index2 > -1) {
                    this.filmsTop.splice(index2, 1);
                }

                var index3 = this.filmsRandom.indexOf(film);
                if (index3 > -1) {
                    this.filmsRandom.splice(index3, 1);
                }

                var index4 = this.filmsUser.indexOf(film);
                if (index4 > -1) {
                    this.filmsUser.splice(index4, 1);
                }
                
                this.showSpinner = false;
            },
            test() {
                var commentModel = {
                    username: "test1",
                    filmId: 1,
                    commentText: "test text"
                };
                axios.post(this.urlAddComment, commentModel)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                
                var commentModel2 = {
                    commentId: 32
                };
                axios.post(this.urlDeleteComment, commentModel2)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                
                var commentRequestModel = {
                    filmId: 1,
                    page: 0
                };
                axios.post(this.urlGetComment, commentRequestModel)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                
                var commentRequestModel2 = {
                    filmId: 1,
                    parentCommentId: 29
                };
                axios.post(this.urlGetParentComment, commentRequestModel2)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    };
</script>

<style>

    .block-header {
        margin-top: 3rem;
        color: rgba(204,88,90,100);
        text-align: center;
    }

    .main-page{
        margin-top:10em;
    }

    .spinner-block {
        z-index: 1060;
        margin-top: -10em;
        color: #6c757d;
        background-color: #6c757d;
        background-image: none;
        border-color: #6c757d;
        border-radius: 0.5rem;
        opacity: 0.9;
    }

    .vue-simple-spinner {
        margin: 10px auto 0px auto !important;
    }

    .vue-simple-spinner-text {
        padding: 10px !important;
        color: white !important;
    }
    .modal-confirm {
        z-index: 1059;
    }

    .modal-backdrop-confirm {
        z-index: 1058;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 60%;
        height: fit-content;
        width: 60%;
        max-width: 400px;
        min-width: 300px;
        margin: 10em 40%;
    }
</style>
