<template lang="html">
    <div class="main-page">
        <FilmsPage :showTop="true">
        </FilmsPage>
    </div>
</template>

<script>
    import FilmsPage from './FilmsPage.vue';

    export default {
        props: [],
        data() {
            return {

            }
        },
        components: {
            FilmsPage
        },
        created() {
        },
        computed: {

        },
        methods: {
        }
    };
</script>

<style>
        
</style>
