<template lang="html">
    <div class="main-page">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner v-if="deletingIsActive" message="Deleting"></Spinner>
                <Spinner v-else message="Loading"></Spinner>
            </div>
        </div>

        <h4 style="margin-top: 6rem;">Предложенные фильмы</h4>
        <div class="film-list" v-for="item in filmsSuggested">
            <div>
                <button tooltip="Delete film"
                        class="btn btn-outline-secondary button-delete-film"
                        @click="deleteFilm(item)">
                    <img src="/dist/delete.png" />
                </button>
            </div>
            <div class="film-list-item film-list-item-item" @click="showFilmAccept(item)">
                <div class="film-list-item-first-block">
                    <img v-bind:src="item.photoFile" />
                </div>
                <div class="film-list-item-second-block">
                    <p class="film-list-p-first-line">{{item.name}}</p>
                    <p class="film-list-p-second-line">Жанр: {{item.categories}}</p>
                    <p>Режиссер: {{item.nameStageManager}}</p>
                    <p>Год: {{item.productionYear}}</p>
                </div>
                <div class="film-list-item-third-block">
                    <button class="btn btn-outline-secondary" @click="showFilm(item)">Подробнее</button>
                </div>
            </div>
        </div>
        <p v-if="filmsSuggested.length === 0">Предлженных фильмов нет</p>

        <h4>Опубликованные фильмы</h4>
        <div class="film-list" v-for="item in filmsAccepted">
            <div>
                <button tooltip="Delete film"
                        class="btn btn-outline-secondary button-delete-film"
                        @click="deleteFilm(item)">
                    <img src="/dist/delete.png" />
                </button>
            </div>
            <div class="film-list-item film-list-item-item" @click="showFilm(item)">
                <div class="film-list-item-first-block">
                    <img v-bind:src="item.photoFile" />
                </div>
                <div class="film-list-item-second-block">
                    <p class="film-list-p-first-line">{{item.name}}</p>
                    <p class="film-list-p-second-line">Жанр: {{item.categories}}</p>
                    <p>Режиссер: {{item.nameStageManager}}</p>
                    <p>Год: {{item.productionYear}}</p>
                </div>
                <div class="film-list-item-third-block">
                    <button class="btn btn-outline-secondary" @click="showFilm(item)">Подробнее</button>
                </div>
            </div>
        </div>
        <p v-if="filmsAccepted.length === 0">Опубликованных фильмов нет</p>
    </div>
</template>

<script>
    import axios from 'axios';
    import Spinner from 'vue-simple-spinner';


    export default {
        props: [],
        data() {
            return {
                filmsAccepted: [],
                showSpinner: false,
                urlDeleteFilm: 'api/films/deleteFilm',
                urlGetAcceptedFilms: 'api/films/accepted',
                deletingIsActive: false,
                filmsSuggested: [],
                urlGetFilmsSuggestions: 'api/films/suggestions'
            }
        },
        created() {
            this.getAcceptedFilms();
            this.getFilmsSuggestions();
        },
        components: {
            Spinner
        },
        computed: {
            accessType() {
                return this.$root.accessType;
            },
            username() {
                return this.$root.username;
            }
        },
        methods: {
            showFilm(film) {
                this.$router.push({ name: 'filmPage', params: { film: film } });
            },
            showFilmAccept(film) {
                this.$router.push({ name: 'filmPage', params: { film: film, isAcceptProcess: true } });
            },
            getAcceptedFilms() {
                this.showSpinner = true;
                axios.get(this.urlGetAcceptedFilms)
                    .then(response => {
                        this.filmsAccepted = response.data;
                        this.showSpinner = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            deleteFilm(film) {
                this.deletingIsActive = true;
                this.showSpinner = true;
                var filmModel = {
                    filmId: film.filmId
                };
                axios.post(this.urlDeleteFilm, filmModel)
                    .then(response => {
                        if (response.data.statusCode == 200) {
                            var index = this.filmsAccepted.indexOf(film);
                            if (index > -1) {
                                this.filmsAccepted.splice(index, 1);
                            }
                            this.getFilmsSuggestions();
                            this.showSpinner = false;
                            this.deletingIsActive = false;
                            this.handleShowMsg(`Фильм ${film.name} удален`, 'success');
                        }
                        else {
                            this.handleShowMsg(`Фильм ${film.name} не был удален, так как возникла ошибка на сервере`, 'error');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            handleShowMsg(message, status) {
                this.$message({
                    message: message,
                    type: status,
                    showClose: true,
                    duration: 6000
                })
            },
            getFilmsSuggestions() {
                this.showSpinner = true;
                axios.get(this.urlGetFilmsSuggestions)
                    .then(response => {
                        this.filmsSuggested = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    };
</script>

<style>
</style>
