<template lang="html">
    <div class="main-page">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner message="Loading"></Spinner>
            </div>
        </div>
        <h4 style="margin-top: 2rem;">Поиск фильмов</h4>
        <div class="search-form-select-elements">
            <div class="search-form search-form-select-elements-search">
                <input v-model="searchName" type="text" placeholder="Введите название фильма" class="search-page-input" @keyup.enter="searchFilms" />
            </div>
            <p v-if="(searchYearFrom > 0) && (searchYearTo > 0) &&  (searchYearFrom > searchYearTo)" class="error-message">"Год от" не может быть больше, чем "Год по"</p>
            <div class="search-form-select-elements-group">
                <v-select v-model="searchYearFrom"
                          :options="optionsYear"
                          placeholder="Год от">
                    <div slot="no-options">Значение не допустимо</div>
                </v-select>
                <v-select v-model="searchYearTo"
                          :options="optionsYear"
                          placeholder="Год по">
                    <div slot="no-options">Значение не допустимо</div>
                </v-select>
            </div>
            <div class="search-form-select-elements-group">
                <Multi-select v-model="searchCategory"
                              :options="options"
                              :btnLabel="labelCategory"
                              :selectOptions="optionsCategory">
                </Multi-select>
                <Multi-select v-model="searchCountry"
                              :options="options"
                              :btnLabel="labelCountry"
                              :selectOptions="optionsCountry">
                </Multi-select>
                <Multi-select v-model="searchPeople"
                              :options="options"
                              :btnLabel="labelPeople"
                              :selectOptions="optionsPeople">
                </Multi-select>
            </div>
            <button @click="searchFilms"
                    class="btn btn-outline-secondary button-search">
                Поиск
            </button>
        </div>

        <h4>Результаты поиска</h4>
        <FilmsList :films="filmResult">
        </FilmsList>
    </div>
</template>

<script>
    import axios from 'axios';
    import FilmsList from './FilmsList.vue';
    import vSelect from 'vue-select';
    import MultiSelect from 'vue-multi-select';
    import Spinner from 'vue-simple-spinner';
    import 'vue-multi-select/dist/lib/vue-multi-select.min.css';

    export default {
        props: ['searchNameParent'],
        data() {
            return {
                urlSearchFilms: 'api/films/search',
                urlGetSearchInfo: 'api/films/getSearchInfo',
                filmResult: [],
                searchName: '',
                searchYearFrom: '',
                searchYearTo: '',
                searchCategory: [],
                searchPeople: [],
                searchCountry: [],
                optionsCategory: [],
                optionsCountry: [],
                optionsPeople: [],
                optionsYear: [],
                labelCategory: "Выберите жанр",
                labelCountry: "Выберите страну",
                labelPeople: "Выберите режиссера",
                options: {
                    multi: true,
                    cssSelected: option => (option.selected ? { 'background-color': '#f2f2f2' } : ''),
                },
                categoryDictionary: [],
                countryDictionary: [],
                stageManagerDictionary: [],
                showSpinner: false
            }
        },
        created() {
            this.getInfoForSearch();
            this.setName();
            this.searchFilms();
        },
        components: {
            FilmsList,
            vSelect,
            MultiSelect,
            Spinner
        },
        computed: {

        },
        methods: {
            setName() {
                if (this.searchNameParent != null) {
                    this.searchName = this.searchNameParent;
                }
            },
            setSearchInfo() {
                let categories = [];
                for (const [key, value] of Object.entries(this.categoryDictionary)) {
                    categories.push(value);
                }
                this.optionsCategory = categories;

                let countries = [];
                for (const [key, value] of Object.entries(this.countryDictionary)) {
                    countries.push(value);
                }
                this.optionsCountry = countries;

                let stageManagers = [];
                for (const [key, value] of Object.entries(this.stageManagerDictionary)) {
                    stageManagers.push(value);
                }
                this.optionsPeople = stageManagers;

                let years = [];
                let currentYear = (new Date()).getFullYear();
                for (let year = currentYear; year >= 1930; year--) {
                    years.push(year);
                }
                this.optionsYear = years;
            },
            getInfoForSearch() {
                axios.get(this.urlGetSearchInfo)
                    .then(response => {
                        this.categoryDictionary = response.data.categories;
                        this.countryDictionary = response.data.countries;
                        this.stageManagerDictionary = response.data.stageManagers;
                        this.setSearchInfo();
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            searchFilms() {
                if ((this.searchYearFrom > 0) && (this.searchYearTo > 0) && (this.searchYearFrom > this.searchYearTo)) {
                    return;
                }

                this.showSpinner = true;

                var searchCountry = [];
                this.searchCountry.forEach((item) => {
                    for (const [key, value] of Object.entries(this.countryDictionary)) {
                        if (item == value) {
                            searchCountry.push(key);
                        }
                    }
                });

                var searchCategory = [];
                this.searchCategory.forEach((item) => {
                    for (const [key, value] of Object.entries(this.categoryDictionary)) {
                        if (item == value) {
                            searchCategory.push(key);
                        }
                    }
                });

                var searchPeople = [];
                this.searchPeople.forEach((item) => {
                    for (const [key, value] of Object.entries(this.stageManagerDictionary)) {
                        if (item == value) {
                            searchPeople.push(key);
                        }
                    }
                });

                var searchModel = {
                    yearStart: this.searchYearFrom,
                    yearEnd: this.searchYearTo,
                    countriesId: searchCountry,
                    categoriesId: searchCategory,
                    stageManagerId: searchPeople,
                    filmName: this.searchName
                }
                axios.post(this.urlSearchFilms, searchModel)
                    .then(response => {
                        this.filmResult = response.data;
                        this.showSpinner = false;
                    }).catch(error => {
                        console.log(error);
                    })
            },
            removeFilmFromCurrentArrays(film) {
                this.showSpinner = true;
                var index = this.filmResult.indexOf(film);
                if (index > -1) {
                    this.filmResult.splice(index, 1);
                }
                this.showSpinner = false;
            }
        }
    };
</script>

<style>
    .search-form input {
        border-color: white;
    }

    .search-form label {
        border-color: white;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown-menu {
        max-height: 150px !important;
    }

    .search-page-input {
        border-radius: 8px;
    }

    .search-form-select-elements {
        display: flex;
        flex-direction: column;
        margin-left: 300px;
    }

    .search-form-select-elements-group {
        display: flex;
        flex-direction: row;
    }

    .search-form-select-elements-search {
        margin-left: 0.5rem !important;
        margin: 0.5rem 0.5rem 2rem 0.5rem;
        width: 100%;
    }
    .select[data-v-2ff54540] {
        margin: 0.5rem !important;
    }
    .button-search {
        width: 15%;
        margin: 1rem 0 1.5rem 0.5rem;
    }

    .dropdown {
        width: 200px !important;
    }

    .select > button[data-v-2ff54540] {
        width: 200px;
    }
</style>
