<template lang="html">
    <div class="main-page">
        <div v-if="showSpinner" class="modal-backdrop modal-backdrop-confirm">
            <div class="spinner-block">
                <Spinner message="Loading"></Spinner>
            </div>
        </div>
        <div class="input-info">
            <p>Логин</p>
            <p v-if="buttonPushed && username===''" class="error-message">Введите логин</p>
            <input type="text"
                   v-model="username"
                   placeholder="username"
                   class="form-control" />
            <p>Пароль</p>
            <p v-if="buttonPushed && password===''" class="error-message">Введите пароль</p>
            <p v-if="buttonPushed && password!=='' && password.length<8">Пароль должен содержать как минимум 8 символов</p>
            <p v-if="buttonPushed && password.length>=8 && !passedValidationPassword">Пароль должен содержать только латинские буквы и цифры. Иметь хотя бы одну цифры и хотя бы одну букву</p>
            <input type="password"
                   v-model="password"
                   placeholder="password"
                   class="form-control" />
            <p>Подтверждение пароля</p>
            <p v-if="buttonPushed && password !== passwordConfirm" class="error-message">Пароль не совпадает</p>
            <input type="password"
                   v-model="passwordConfirm"
                   placeholder="passwordConfirm"
                   class="form-control" />
            <p>Имя</p>
            <p v-if="buttonPushed && firstName===''" class="error-message">Введите имя</p>
            <input type="text"
                   v-model="firstName"
                   placeholder="firstName"
                   class="form-control" />
            <p>Фамилия</p>
            <p v-if="buttonPushed && lastName===''" class="error-message">Введите фамилию</p>
            <input type="text"
                   v-model="lastName"
                   placeholder="lastName"
                   class="form-control" />
            <p>Отчество</p>
            <input type="text"
                   v-model="fatherName"
                   placeholder="fatherName"
                   class="form-control" />
            <p>Дата рождения</p>
            <p v-if="buttonPushed && birthDate===''" class="error-message">Введите дату рождения</p>
            <input type="date"
                   v-model="birthDate"
                   placeholder="birthDate"
                   class="form-control" />
            <p>Пол</p>
            <p v-if="buttonPushed && sex===''" class="info-input-el error-message">Выберите пол</p>
            <v-select v-model="sex"
                      placeholder="sex"
                      :options="sexList">
            </v-select>
            <p>Эл. почта</p>
            <p v-if="buttonPushed && mail===''" class="error-message">Введите адрес эл.почты</p>
            <p v-if="buttonPushed && mail!=='' && !passedValidationEmail" class="error-message">Введите корректный адрес эл.почты</p>
            <input type="email"
                   v-model="mail"
                   placeholder="mail"
                   class="form-control" />
            <p>Ссылка для связи (на соц. сеть)</p>
            <p v-if="buttonPushed && connectionLink===''" class="error-message">Введите ссылку на соц.сеть/другой способ связаться с Вами</p>
            <input type="text"
                   v-model="connectionLink"
                   placeholder="connectionLink"
                   class="form-control" />
            <button class="btn btn-outline-secondary info-input-el button-ok"
                    @click="signup">
                Зарегистрироваться
            </button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import vSelect from 'vue-select';
    import { Bus } from '../Bus.js';
    import Spinner from 'vue-simple-spinner';
    import 'vue-multi-select/dist/lib/vue-multi-select.min.css';

    export default {
        data() {
            return {
                username: '',
                password: '',
                passwordConfirm: '',
                birthDate: '',
                connectionLink: '',
                fatherName: '',
                firstName: '',
                lastName: '',
                mail: '',
                sex: '',
                urlSignUp: 'api/users/signUp',
                sexList: ['м', 'ж'],
                buttonPushed: false,
                showSpinner: false
            }
        },
        components: {
            vSelect,
            Spinner
        },
        computed: {
            passedValidationPassword() {
                if (this.password == null) {
                    return true;
                }

                var result = true;
                var digitsCount = 0;
                var lettersCount = 0;

                var digits = '1234567890';
                var letters = 'qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM';

                for (var i = 0; i < this.password.length; i++) {
                    var letter = this.password.charAt(i)
                    if (digits.includes(letter)) {
                        digitsCount = digitsCount + 1;
                    }
                    if (letters.includes(letter)) {
                        lettersCount = lettersCount + 1;
                    }
                }
                if (lettersCount == 0 || digitsCount == 0) {
                    result = false;
                }
                return result;
            },
            passedValidationEmail() {
                if (this.mail == null) {
                    return true;
                }
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(this.mail);
            }
        },
        methods: {
            signup() {
                this.buttonPushed = true;
                if (this.username == '') {
                    return;
                }
                if (this.password == '') {
                    return;
                }
                if (this.passwordConfirm == '') {
                    return;
                }
                if (this.birthDate == '') {
                    return;
                }
                if (this.connectionLink == '') {
                    return;
                }
                if (this.fatherName == '') {
                    return;
                }
                if (this.firstName == '') {
                    return;
                }
                if (this.lastName == '') {
                    return;
                }
                if (this.mail == '') {
                    return;
                }
                if (this.sex == '') {
                    return;
                }
                if (this.password != this.passwordConfirm) {
                    return;
                }
                if (!this.passedValidationEmail) {
                    return;
                }
                if (!this.passedValidationPassword) {
                    return;
                }

                this.showSpinner = true;

                var signUpModel = {
                    username: this.username,
                    password: this.password,
                    birthDate: this.birthDate,
                    connectionLink: this.connectionLink,
                    fatherName: this.fatherName,
                    firstName: this.firstName,
                    lastName: this.lastName,
                    mail: this.mail,
                    sex: this.sex
                }
                axios.post(this.urlSignUp, signUpModel).then(response => {
                    console.log(response);
                    if (response.data.statusCode == 200) {
                        var accessType = response.data.value.role;
                        var username = response.data.value.username;
                        this.$root.username = username;
                        this.$root.accessType = accessType;
                        this.handleShowMsg('Регистрация успешно завершена', 'success');
                        this.$router.push({ name: 'start'});
                    }
                    else {
                        this.handleShowMsg('Регистрация не была завершена, так как возникла ошибка на сервере: ' + response.data.value, 'error');
                    }
                    this.username = '';
                    this.password = '';
                    this.passwordConfirm = '',
                        this.birthDate = '';
                    this.connectionLink = '';
                    this.fatherName = '';
                    this.firstName = '';
                    this.lastName = '';
                    this.mail = '';
                    this.sex = '';
                    this.buttonPushed = false;
                    this.showSpinner = false;
                }).catch(error => {
                    console.log(error);
                })
            },
            handleShowMsg(message, status) {
                this.$message({
                    message: message,
                    type: status,
                    showClose: true,
                    duration: 6000
                })
            }
        }
    };
</script>

<style>
    .dropdown-toggle::after {
        content: none;
    }

    .dropdown{
        margin: 0.5rem;
    }
    .input-info {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 20%;
        margin-top: 5rem !important;
    }

    .input-info input {
        margin: 0.5rem;
    }

    .info-input-el {
        margin: 0.5rem;
    }
</style>
