<template lang="html">
    <div class="main-page">

        <div class="search-form">
            <input v-model="search" type="text" placeholder="Введите название фильма" id="input-search" @keyup.enter="searchFilms" />
            <label for="input-search" @click="searchFilms">Поиск</label>
        </div>

        <FilmsPage :showTop="showTop"
                   :showNew="showNew"
                   :showRandom="showRandom"
                   :main="true">
        </FilmsPage>
    </div>
</template>

<script>
    import axios from 'axios';
    import FilmsPage from './FilmsPage.vue';

    export default {
        props: [],
        data() {
            return {
                search: '',
                showTop: true,
                showNew: true,
                showRandom: true
            }
        },
        components: {
            FilmsPage
        },
        created() {
        },
        computed: {

        },
        methods: {
            searchFilms() {
                this.$router.push({ name: 'search', params: { searchNameParent: this.search } });
            }
        }
    };
</script>

<style>

    .search-form {
        display: flex;
        width: 60%;
        margin: 2em 25%;
        height: 2.5em;
    }

        .search-form input, .search-form label {
            padding: 0.3em 1em;
            outline: none;
            border: none;
            overflow: hidden;
            background: none;
            border-style: solid;
            font-size: 20px;
            margin-top: 1em;
            box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05);
            height: 100%;
            border-width: 0.01em;
            border-color: white;
        }

        .search-form input {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            width: 80%;
        }

        .search-form label {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            margin: 0;
            margin-top: 1em;
            padding: 0.1em 1em;
            cursor: pointer;
        }
</style>
